header nav.navbar {
  padding: 0;
}

.navbar-brand {
  &:not(:hover) {
    .header-logo {
      display: none;
    }
  }
  &:hover {
    .header-logo--static {
      display: none;
    }
  }
}

.header-logo {
  max-width: 50px;
  &--static {
    max-width: 44px;
    margin: 6px 3px 0px;
  }
}

.help-block{
  font-size: 12px;
  &-error {
    color: #c9302c;
  }
}

.btn--like-link {
  background: transparent;
  border: 0;
}

.text--white {
  color: #fff;
}

.nav.list-unstyled {
  display: block;
}